@import "../mixins";

a {
  text-decoration: none;
  color: $tagLink;

  &:hover,
  &:active {
    color: $tagLinkHover;
  }

  &:visited {
    color: $tagLink;
  }
}


ul#people {
  width: 90vw;
  padding: 0;
  margin: 2em auto 0;
  list-style-type: none;

  li.person {
    display: inline-block;
    width: 23%;
    margin: 1em 0 2em;
    padding: 0 1%;
    vertical-align: bottom;
    justify-content: center;
    text-align: center;

    img.portrait {
      height: 8em;
      width: auto;
      left: 1em;
      clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    }

    p.name {
      width: 100%;
    }
  }
}

article.person {
  display: block;
  width: 85vw;
  vertical-align:top;
  direction: ltr;
  margin: 0 auto 4em;
  padding: 0;

  a.backLink {
    display: inline-block;
    margin-bottom: 2em;
  }

  a {
    // text-decoration: none;
    color: $tagLink;

    &:hover,
    &:active {
      color: $tagLinkHover;
    }

    &:visited {
      color: $tagLink;
    }
  }

  span.tagLink {
    text-decoration: underline;
    color: $tagLink;
    cursor: pointer;

    &:hover {
      color: $tagLinkHover;
    }
  }

  h3.fullName {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    font-size: 1.6em;
    color: $blue;
    font-family: $styleText;
    letter-spacing: 0.1em;
    border-bottom: 1px solid $blue;
  }

  aside.infoBox {
    display: block;
    float: right;
    width: 18em;
    font-size: 0.75em;
    margin-left: 2em;
    margin-bottom: 1em;
    background-color: $charcoal;
    color: $lightText;
    border: 1px solid $charcoal;

    h4.nickname {
      font-size: 1.1em;
      margin: 0;
      padding: 0.5em 0.5em;
    }

    img.portrait {
      display: inline-block;
      height: auto;
      width: 100%;
      border-top: 1px solid $blueLight;
      border-bottom: 1px solid $blueLight;
    } 

    div.info {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid $blueLight;

      &:last-child {
        border-bottom: none;
      }

      p.key,
      p.values {
        padding: 0.5em 0.5em;
        margin: 0;
        display: inline-block;
      }

      p.key {
        font-weight: 700;
        width: 40%;
      }

      p.values {
        width: 60%;
        text-align: right;
      }

      &.affiliations {
        p {
          margin: 0 0 0.5em;
        }
      }
    }
  }

  div.mainContent {
    font-size: 0.85em;
    width: auto;
    word-break: break-word;

    p, i.quote {
      display: block;
      line-height: 1.8em;
      margin: 0 0 1em;
      padding: 0;
    }

    i.quote {
      font-family: $serifText;
      padding-left: 2vw;
      line-height: 1.6em;
      font-size: 0.9em;
      margin-bottom: 2.5em;
    }
  }

  div.clear {
    clear:both; 
    margin: 0; 
    padding: 0;
  }
}

// MOBILE
@media all and (max-width: $breakpoint-mobile) {
  article.person {
    width: 92vw;
    margin: 0 2vw 2em;

    div.mainContent {
      i.quote {
        padding: 0;
      }
    }

    h4.nickname {
      display: none;
    }

    aside.infoBox {
      width: 90%;
      display: block;
      margin: 0 auto 3em;
      float: none;
    }
  }

  ul#people {

    li.person {
      width: 48%;

      img.portrait {
        height: 10em;
      }

      p.name {

      }
    }
  }
}

// DESKTOP
@media all and (min-width: $breakpoint-mobile) {

}
