@import "./mixins";

#error404 {
  text-align: center;
  padding: 5.5em 0;

  h2 {
    font-size: 6em;
    margin: 0;
    font-family: $headingText;
    letter-spacing: 0.2em;
    color: $blueDark;
    text-shadow: 1px 1px 1px $lightText, -1px -1px 2px $lightText;
  }

  h3 {
    margin: 0 auto;
    font-family: $headingText;
    letter-spacing: 0.15em;
    line-height: 2em;
    max-width: 15em;
    color: $charcoal;
    text-shadow: 1px 1px 3px $lightText, -1px -1px 3px $lightText, -1px 1px 3px $lightText, 1px -1px 3px $lightText;
  }
}