@import './mixins';



a.backLink {
  display: inline-block;
  margin-bottom: 2em;
}

h2.fullName {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  font-size: 1.6em;
  color: $blue;
  font-family: $styleText;
  letter-spacing: 0.1em;
  border-bottom: 1px solid $blue;
}

h3.subheading {
  font-family: $headingText;
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: 0.1em;
  margin-top: 2em;
  line-height: 2em;
  border-bottom: 1px solid $blueDark;
  overflow: hidden;
}

.monoSpace {
  font-family: $monoSpace;
  font-size: 0.85rem;
}