@import './mixins';



a.backLink {
  display: inline-block;
  margin-bottom: 2em;
}

h2.fullName {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  font-size: 1.6em;
  color: $blue;
  font-family: $styleText;
  letter-spacing: 0.1em;
  border-bottom: 1px solid $blue;
}

h3.subheading {
  font-family: $headingText;
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: 0.1em;
  margin-top: 2em;
  line-height: 2em;
  border-bottom: 1px solid $blueDark;
  overflow: hidden;
}

main.content {
  nav.subNav {
    display: inline-flex;
    min-width: 60%;
    margin-left: 10%;
    
    .navList{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none;
      margin-bottom: 1em;

      .navElement {
        display: inline-block;
        line-height: 1.5em;
        padding: 0 0.5em;
        cursor: pointer;

        &.active {
          cursor: initial;
          border-bottom: 1px solid tomato;
        }
      }
    }
  }

  section.article {
    width: 100%;

    .info {
      ul {
        li {
          list-style: none;
          line-height: 1.65em;
        }
      }
    }
  }
}

.monoSpace {
  font-family: $monoSpace;
  font-size: 0.85rem;
}


@media all and (max-width: $breakpoint-mobile) {
  
  main.content {
    h2.sectionGroup {
      margin-top: 0;
    }
  
    nav.subNav {
      display: flex;
      margin: 0 auto;

      .navList{
        margin-top: 1em;

        .navElement {
          width: auto;
          text-align: center;
          // padding: 0 7.5%;
          padding: 0;
          width: 25%;
          margin-bottom: 1.5em;
          padding-bottom: 0.5em;
        }
      }
    }
  }

}