@import url('//fonts.googleapis.com/css?family=Ubuntu+Mono|Gochi+Hand|Oswald|Caesar+Dressing|EB+Garamond|Cinzel+Decorative&display=swap');

@font-face {
  font-family: "Iokharic";
  src: url("../fonts/Iokharic.otf") format("opentype");
}

$white: #ffffff;
$offWhite: #f4f4f4;
$lightText: #e9e9e9;
$grayText: #5c5c93;
$charcoal: #0c0c13;

$moodGreen: #2cdd90;
$susiePurple: #4c2860;

$blueLight: #d3edfd;
$blue: #234d6d;
$blueDark: #002d3d;

$tagLink: #D33017;
$tagLinkLight: #ff5a1e;
$tagLinkHover: #158454;

$statSheet: #FDF1DC;
$dndRed: #7A200D;
$dndGreen: #0d7756;
$dndGold: #E59A28;

$breakpoint-mobile: 768px;

// standard fonts
$headingText: "Oswald", sans-serif;
$sansText: Helvetica, sans-serif;
$serifText: "EB Garamond", Georgia, Times, serif;
$monoSpace: "Ubuntu Mono", monospace !important;

// decorative fonts
$decorative: "Cinzel Decorative", serif;
$handwriting: "Gochi Hand", sans-serif;
$draconic: "Iokharic", "Caesar Dressing", "Times New Roman", serif;
$runic: "Caesar Dressing", cursive;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}