@import 'mixins';

html {
  font-size: 16px;
  background-color: $offWhite;
}

.App {
  font-family: "Century Gothic", Calibri, Arial, san-serif;
  text-align: center;
  font-size: 16px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  min-height: 8vh;
  color: #fff;
  text-shadow: 1px 1px 3px #111;
  font-family: 'IM Fell Great Primer SC', serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 1em;

  background-image: url('../img/header-map.png');
  background-size: cover;
  background-position: center bottom 15%;
}

.App-link {
  color: #61dafb;
}

#navigationList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.1rem;
  color: #fff;
  padding: 1rem 0;
  background-color: #282c34;
  margin: 0;

  .navigationListItem {
    padding-bottom: 0.25em;
    cursor: pointer;

    &.active {
      border-bottom: 1px solid tomato;
    }
  }
}