@import "./mixins", "./articlesCommon", "./aside";

body {
  font-family: $sansText;
  font-size: 15px;
}

* {
  // border: 1px solid tomato;
}

.App {
  display: block;
  margin-bottom: 200px;
}

::spelling-error {
  border-bottom: 1px dashed tomato;
}

#dmFlag {
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 2em;
  font-family: $headingText;
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: $charcoal;
  border-bottom: 1px solid $moodGreen;
  color: $moodGreen;
  
  position: fixed;
  top: 0;
  z-index: 1000;
}

h2.sectionGroup {
  font-size: 1.5em;
  margin: 1em auto 0;
  font-family: $headingText;
  font-variant: small-caps;
  letter-spacing: 0.2em;

  small {
    font-size: 0.55em;
    font-family: $sansText;
    font-variant: normal;
    letter-spacing: 0.05em;
    color: $dndGreen;
  }
}

h2.sectionTitle {
  font-size: 1.1em;
  letter-spacing: 0.15em;
  width: 100%;
  margin: 0.5em auto 1em;
  font-family: $headingText;
  color: $blueDark;
  border-bottom: 1px solid $blueDark;
  text-transform: capitalize;

  small {
    font-size: 0.75em;
    font-family: $sansText;
    font-variant: normal;
    letter-spacing: 0.05em;
    color: $dndGreen;
  }
}

#backLink {
  display: inline-block;

  p {
    display: inline-block;
    color: $tagLink;
    padding-bottom: 0.4em;
    padding-right: 0.5em;
    border-bottom: 1px solid $tagLink;
    margin-bottom: 0.5em;
    margin-right: 3em;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: $tagLink;

  &:hover {
    color: $tagLinkHover;
  }
}

main.content {
  max-width: 1200px;
  min-height: 1200px;
  margin: 0.5em auto 0;
}

article.description {
  width: 100%;
  margin: 1.5em auto 1em;
  line-height: 1.5em;
}

img.worldMap {
  display: block;
  margin: 3em auto;
  width: 66%;
  max-width: 1200px;
}

hr.hRule {
  border: 0;
  border-bottom: 1px solid rgba($charcoal, 0.66);
}

// D&D language fonts
span.draconic {
  font-family: $draconic;
  font-size: 30px;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}

@media all and (max-width: $breakpoint-mobile) {

  main.content {
    width: 90vw;
    margin: 0 auto;
    position: relative;
    top: 15.5vh;
  }
}