@import './mixins';

body {
  font-family: $sansText;
}

h2.sectionGroup {
  font-size: 1.5em;
  margin: 2em auto 0;
  font-family: $serifText;
  font-variant: small-caps;
  letter-spacing: 0.2em;
}

h2.sectionTitle {
  font-size: 1.1em;
  letter-spacing: 0.15em;
  width: 100%;
  margin: 0 auto 1em;
  font-family: $headingText;
  color: $blueDark;
  border-bottom: 1px solid $blueDark;
}

main.content {

  width: 88vw;
  margin: 0 auto;
}

article.description {
  width: 88vw;
  margin: 1.5em auto 1em;
}

img.worldMap {
  display: block;
  margin: 3em auto;
  width: 88vw;
  max-width: 1200px;
}