@import "./mixins";


.article {
  margin: 0 auto 3em;
  width: 98%;

  &__paragraph {
    font-family: $sansText;
    line-height: 1.6;
    // text-indent: 1em;
  }

  &__link {
    margin: 0 0.1em;
  }

  &__heading {
    margin: 1em 0;
    padding: 0;
    
    font-family: $headingText;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: $blueDark;
    
    border-bottom: 1px solid $blue;
  }

  &__headline {
    margin-top: 2em;
    border-bottom: 1px solid rgba($charcoal, 0.66);

    font-family: $serifText;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    line-height: 1.33em;
    
    overflow: hidden;
  }

  &__banner {
    width: 100%;
    height: 100px;
  }

  &__quote {
    display: block;
    margin-bottom: 2em;

    font-family: $handwriting;
    font-size: 1.15em;
    letter-spacing: 0.1em;
  }

  &__subheading {
    display: inline-block;
    padding: 0;
    margin: 0.5em 0 0;

    font-family: $sansText;
    font-size: 1em;
    line-height: 2em;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: $charcoal;
  }
}

.figureBox {
  display: block;
  float: left;
  padding: 0.15em;
  margin: 0.5em 1.5em 0.5em 0;
  width: 220px;

  border: 1px solid $grayText;
  background: $lightText;

  text-indent: 0;

  &.right {
    float: right;
    margin: 0.5em 0.5em 0.5em 1.5em;
  }

  &.small {
    width: 150px;
  }

  &__img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__caption {
    padding: 0 0.5em;
    margin: 0;

    color: $grayText;
    font-family: $monoSpace;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.75;
  }

}

.darkMode {
  .article {
    color: $lightText;

    &__heading {
      color: inherit;
      border-bottom-color: $lightText;
    }

    &__headline {
      border-bottom-color: $lightText;
    }

    &__subheading {
      color: inherit;
      border-bottom-color: $lightText;
    }

    &__link {
      color: $moodGreen;
    }
  }
}

// MOBILE
@media all and (max-width: $breakpoint-mobile) {
  .article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;

    &__heading {
      display: none;
    }
    
    &__banner {
      width: 100%;
      height: 8vw;
      background-size: cover;
    }

    &__content {
      display: block;
    }
  }
}