@import "./mixins";

.category {
  padding: 0;
  margin: 1em auto 0;
  list-style-type: none;

  &.columns {
    display: flex;
    flex-wrap: wrap;
  }

  &__heading {
    display: block;
    margin: 1em 0;
    padding: 0 0 0.2em;
    width: 100%;
    
    font-family: $headingText;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: $blueDark;
    
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
  }

  &__entryNumber {
    font-size: 0.66em;
    margin-left: 1em;
    font-family: $sansText;
  }

  &__subheading {
    display: block;
    margin: 1em 0;
    padding: 0 0 0.1em;
    width: 100%;
    
    font-family: $sansText;
    text-transform: capitalize;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: $blueDark;
    
    border-bottom: 1px solid $blue;
  }

  &__entry {
    display: inline-block;
    position: relative;
    padding: 0 1%;
    width: 14.5%;
    margin: 1em 0 0.5em;
    
    vertical-align: top;
    justify-content: center;
    text-align: center;
  }

  &__img {
    left: 1em;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    
    &.noTilt {
      clip-path: none;
    }
    
    &.landscape {
      height:auto;
      max-width: 90%;
      margin: 0 auto;

      &.noTilt {
        max-height: 8.33em;
        max-width: 58%;
      }
    }

    &.portrait {
      height: 8em;
      max-width: 14em;
      width: auto;
    }
  }

  &__text{
    font-family: $sansText;
    font-size: 1em;
    line-height: 1.5;
    margin: 0.5em 0;

    &.hidden {
      &:after {
        content: "👁️";
        display: block;
        color: $susiePurple;
      }
    }
  }

  &__fullWidth {
    display: block;
  }

  &__group {
    display: inline-block;
    width: 47.5%;
    margin-right: 5%;
    vertical-align: top;
    align-self:top;

    &:nth-child(2n) {
      margin-right: 0;
    }

    .category {

      &__entry {
        width: 17.5%;
        line-height: 2;
      }

      &__text {
        margin: 0;
        font-size: 0.95em;
      }
    }
  }

  &__list {
    padding: 0;
    margin-bottom: 1.5em;
  }

}

@media all and (max-width: $breakpoint-mobile) {
  .category {

    &__heading {
      font-size: 1.35em;
      border-top: 0;
      border-bottom: 0;
    }

    &__entryNumber{
      display: block;
      margin: 1em 0 0;
      font-size: 0.75em;
    }
    
    &__entry {
      width: 30%;
      height: auto;
      max-width: none;
    }

    &__img {

      &.portrait {
        height: 100%;
        max-height: 10em;
        width: auto;
        clip-path: polygon(12% 0%, 100% 0%, 88% 100%, 0% 100%);
      }

    }

    &__group {
      width: 100%;

      .category {

        &__entry {
          width: 30%;
        }
      }
    }
  }
}