@import "./mixins";

.appHeader {
  .headerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 8vh;
    color: #fff;
    // text-shadow: 1px 1px 3px #111, 2px 2px 3px #114, -1px 1px 3px  rgba(#114,0.8), 1px -1px 3px rgba(#114,0.8);
    font-family: $styleText;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;

    background-size: cover;
    background-position: center top 25%;

    h1 {
      font-size: 3rem;
      font-weight: 400;
      text-align: center;
      padding: 0;
      margin: 0;
      line-height: 1.5em;
      background: -webkit-linear-gradient($lightText, $moodGreen);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      a.home {
        color: $offWhite;
        font-family: $headingText;
        -webkit-text-stroke: 1px $susiePurple;
      }
    }
  }
}


// MOBILE
@media all and (max-width: $breakpoint-mobile) {
  .appHeader {
    .headerBox {
      h1 {
        font-size: 9vw;

        a.home {

        }
      }
    }
  }
}

// DESKTOP
@media all and (min-width: $breakpoint-mobile) {

}
