@import "./mixins", "./articlesCommon";

article.location {
  display: block;
  vertical-align:top;
  direction: ltr;
  margin: 0 auto 4em;
  padding: 0;

  aside.infoBox {
    display: block;
    float: right;
    width: 30vw;
    min-width: 14em;
    max-width: 40em;
    font-size: 0.75em;
    margin-left: 2em;
    margin-bottom: 1em;
    background-color: $charcoal;
    color: $lightText;
    border: 1px solid $charcoal;

    h4.nickname {
      font-size: 1.6em;
      font-variant: small-caps;
      letter-spacing: 0.15em;
      margin: 0;
      padding: 0 0.5em;
      line-height: 2em;
      font-family: $headingText;
    }

    .container {
      position: relative;

      img.portrait {
        display: inline-block;
        height: auto;
        width: 100%;
        border-top: 1px solid $blueLight;
        border-bottom: 1px solid $blueLight;
      }

      img.crest {
        position: absolute;
        width: 45%;
        max-width: 10em;
        right: 5%;
        top: 5%;
      }
    }

    
    div.info {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid $blueLight;

      &:last-child {
        border-bottom: none;
      }

      .linkedContent {
        margin: 0;
        line-height: 1.75em;
      }

      &.currency {
        flex-wrap: wrap;
        justify-content: flex-end;

        .coinImage {
          width: 33%;
          max-width: 6.5em;
          margin-right: 3.5%;
        }
      }

      p.key,
      .values {
        line-height: 1.75em; 
        padding: 0.15em 2%;
        margin: 0;
        display: inline-block;
      }

      p.key {
        font-weight: 700;
        width: 36%;
      }

      .values {
        width: 56%;
        text-align: right;

        &.races {
          p {
            display: inline-block;
            margin: 0 0 0 0.33em;
            line-height: 1.6em;
            
            &:after{
              content: ",";
            }

            &:last-child:after {
              content: "",
            }
          }
        }
      }

      &.mapBox {
        height: auto;

        img {
          width: 80%;
          padding: 2em 10%;
        }
      }
        

      span.commaSeparated {
        display: inline-block;
        margin: 0 0 0 0.33em;
        line-height: 1.6em;
        
        &:after{
          content: ",";
        }

        &:last-child:after {
          content: "",
        }
      }
    }
  }

  div.mainContent {
    font-size: 0.85em;
    width: auto;
    word-break: break-word;

    p, i.quote {
      display: block;
      line-height: 1.8em;
      margin: 0 0 1em;
      padding: 0;
    }

    i.quote {
      font-family: $serifText;
      padding-left: 2vw;
      line-height: 1.6em;
      font-size: 0.9em;
      margin-bottom: 2.5em;
    }

    p {
      text-indent: 1.5em;
    }
  }

  div.clear {
    clear:both; 
    margin: 0; 
    padding: 0;
  }
}

// MOBILE
@media all and (max-width: $breakpoint-mobile) {
  article.location {
    width: 96%;
    margin: 0 2% 3em;

    div.mainContent {
      i.quote {
        padding: 0;
      }
    }
  }

  ul#people {

    li.location {
      width: 48%;

      img.portrait {

      }

      p.name {

      }
    }
  }
}

// DESKTOP
@media all and (min-width: $breakpoint-mobile) {

}
