@import "./mixins";

article.lore {
  display: block;
  vertical-align:top;
  direction: ltr;
  margin: 0 auto 4em;
  padding: 0;

  aside.infoBox {
    display: block;
    float: right;
    width: 30vw;
    min-width: 14em;
    max-width: 25em;
    font-size: 0.75em;
    margin-left: 2em;
    margin-bottom: 1em;
    background-color: $charcoal;
    color: $lightText;
    border: 1px solid $charcoal;

    h4.nickname {
      font-size: 1.6em;
      font-variant: small-caps;
      letter-spacing: 0.15em;
      margin: 0;
      padding: 0 0.5em;
      line-height: 2em;
      font-family: $headingText;
    }

    img.portrait {
      display: inline-block;
      height: auto;
      width: 100%;
      border-top: 1px solid $blueLight;
      border-bottom: 1px solid $blueLight;
    }

    
    div.info {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid $blueLight;

      &:last-child {
        border-bottom: none;
      }

      .linkedContent {
        margin: 0;
        line-height: 1.75em;
      }

      p.key,
      .values {
        padding: 0.5em 0.5em;
        margin: 0;
        display: inline-block;
      }

      p.key {
        font-weight: 700;
        width: 40%;
      }

      .values {
        width: 60%;
        text-align: right;

        &.races {
          p {
            display: inline-block;
            margin: 0 0 0 0.33em;
            line-height: 1.6em;
            
            &:after{
              content: ",";
            }

            &:last-child:after {
              content: "",
            }
          }
        }
      }

      &.mapBox {
        height: auto;
        flex-wrap: wrap;

        img {
          width: 80%;
          padding: 2em 10%;
        }
      }
        

      span.commaSeparated {
        display: inline-block;
        margin: 0 0 0 0.33em;
        line-height: 1.6em;
        
        &:after{
          content: ",";
        }

        &:last-child:after {
          content: "",
        }
      }
    }
  }

  div.mainContent {
    width: auto;
    word-break: break-word;

    p, i.quote {
      display: block;
      line-height: 1.8em;
      margin: 0 0 1em;
      padding: 0;
    }

    i.quote {
      font-family: $serifText;
      padding-left: 2vw;
      line-height: 1.6em;
      font-size: 0.9em;
      margin-bottom: 2.5em;
    }
  }

  table#vesdarianCalendar {
    border-collapse: collapse;
    border: 0;
    width: 95%;
    margin: 0 auto;
    

    tr.tableHeading {
      th {
        text-align: left;
        background-color: $charcoal;
        color: $moodGreen;
        font-family: $headingText;
        letter-spacing: 0.2em;
        // font-size: 1.25em;
      }
    }

    th,
    td {
      padding: 0.5em 1em;
      word-break: initial;
      border-bottom: 1px solid $lightText;

      &:last-child {
        border-right: 1px solid $lightText;
      }

      &.seasonCell {
        width: 2%;

        &.spring { background-color: rgba(#63f055, 0.4); }
        &.summer { background-color: rgba(#cadf74, 0.4); }
        &.autumn { background-color: rgba(#ff7326, 0.4); }
        &.winter { background-color: rgba(#b8edff, 0.4); }
        
      }

      .season {
        writing-mode: vertical-lr;
        text-orientation: sideways;
        padding-left: 15%;
        color: $blue;
        font-family: $headingText;
        letter-spacing: 0.15em;
        font-size: 1.15em;
      }

      &.days {
        padding-left: 1.5em;
      }

      p {
        text-indent: 0;
        margin: 0;
      }
    }

    tr.festival {
      td {
        background-color: $lightText;
        color: $blueDark;
        border-bottom: 0;


        &.rune {
          text-align: center;
          padding: 1em 0;
          
          img {
            width: 1.33em;
          }
        }
      }
    }
  }

  div.clear {
    clear:both; 
    margin: 0; 
    padding: 0;
  }

  .moons {
    $sizePercentage: 0.66;

    background-image: url('../img/moon-phases.png');
    width: calc(30px * #{$sizePercentage});
    height: calc(30px * #{$sizePercentage});
    display: inline-block;
    background-repeat: no-repeat;
    background-size: calc(1024px * #{$sizePercentage}) calc(32px * #{$sizePercentage});

    &.Rydora {
      background-image: url('../img/Rydora_phases.png');
    }

    &.Tinereth {
      background-image: url('../img/Tinereth_phases.png');
    }

    &.phase-0 {
      background-position: 0px 0px;
    }
    &.phase-1 {
      background-position: calc( -128px * #{$sizePercentage}) 0px;
    }
    &.phase-2 {
      background-position: calc(-256px * #{$sizePercentage}) 0px;
    }
    &.phase-3 {
      background-position: calc(-384px * #{$sizePercentage}) 0px;
    }
    &.phase-4 {
      background-position: calc(-512px * #{$sizePercentage}) 0px;
    }
    &.phase-5 {
      background-position: calc(-640px * #{$sizePercentage}) 0px;
    }
    &.phase-6 {
      background-position: calc(-768px * #{$sizePercentage}) 0px;
    }
    &.phase-7 {
      background-position: calc(-896px * #{$sizePercentage}) 0px;
    }
  }

  .calendarGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: none;
    border-collapse: collapse;
    table-layout: fixed;

    h3 {
      text-align: left;
      display: block;
      width: 100%;
    }

    h4 {
      color: $moodGreen;
      margin: 0;
      line-height: 2.25em;
    }

    .monthName {
      background-color: $charcoal;
    }

    .month {
      display: inline-table;
      width: 100%;
      margin-right: 3%;
      margin-bottom: 2em;
      border: none;
      border-collapse: collapse;
      table-layout: fixed;

      td {
        border: 1px solid $charcoal;
        vertical-align: top;
        padding: 0.33em 1em;
      }

      &.festival {
        margin-left: 25%;
        margin-right: 25%;
        display: table;

        .monthName {
          background-color: $moodGreen;
          
          h4 {
            color: $charcoal;
          }
        }
      }

      .eventsHeading {
        font-weight: 700;
        border-bottom: 1px solid $charcoal;
        margin: 1em 0 0 0;
      }

      .eventsHeading,
      .event{
        text-align: left;
      }
    }

    .numericalDate {
      text-align: right;
      font-weight: 700;

    }

    .changeYear {
      font-family: $fira;
      font-size: 1.6em;
      border: none;
      line-height: 1em;
      vertical-align: top;
      margin: 0 1em;
      background-color: transparent;
    }
  }
}

// MOBILE
@media all and (max-width: $breakpoint-mobile) {

  #lore {
    article.lore {

      h2 {
        display: none;
      }

      aside.infoBox {
        width: 100%;
        max-width: none;
        margin-bottom: 3em;

        li.location {
          width: 48%;

          img.portrait {

          }

          p.name {

          }
        }
      }

      table#vesdarianCalendar {
        width: 100%;
        font-size: 0.75rem;
      }

      .calendarGrid {
        font-size: 0.66em;

        h3.subjectArea {
          font-size: 0.95rem;
        }

        h4 {
          font-size: 1.66em;
        }

        .changeYear {
          font-size: 1.5em;
        }

        .month {
          font-size: 0.8em;
        }
      }
    }
  }
}

// DESKTOP
@media all and (min-width: $breakpoint-mobile) {

}
