@import "./mixins";

@media all and (max-width: $breakpoint-mobile) {
  #categories {

    .category.gods {
      li.entry {
        width: 30%;
        max-width: none;

        img.portrait {
          max-width: 90%;
          height: auto;
        }

        p {
          margin: 0.5em 0 0;
          font-size: 0.85em;
        }
      }

    }
  }
}