@import "./mixins";


article.person {
  display: block;
  vertical-align:top;
  direction: ltr;
  margin: 0 auto 4em;
  padding: 0;

  aside.infoBox {
    display: block;
    float: right;
    width: 30vw;
    min-width: 14em;
    max-width: 25em;
    font-size: 0.75em;
    margin-left: 2em;
    margin-bottom: 1em;
    background-color: $charcoal;
    color: $lightText;
    border: 1px solid $charcoal;

    h4.nickname {
      font-size: 1.6em;
      font-variant: small-caps;
      letter-spacing: 0.15em;
      margin: 0;
      padding: 0 0.5em;
      line-height: 2em;
      font-family: $headingText;
    }

    img.portrait {
      display: inline-block;
      height: auto;
      width: 100%;
      border-top: 1px solid $blueLight;
      border-bottom: 1px solid $blueLight;

      &.fillSpace {
        border-top: 0;
        padding-bottom: 1em;
      }
    } 

    div.info {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid $blueLight;

      &:last-child {
        border-bottom: none;
      }

      .linkedContent {
        margin: 0;
        line-height: 1.75em;
      }

      p.key,
      .values {
        padding: 0.5em 0.5em;
        margin: 0;
        display: inline-block;
      }

      p.key {
      }

      .values {

        &.big {
          font-size: 1.4em;
          font-weight: 700;
          font-family: $headingText;
        }
      }

      &.affiliations {
        align-items: flex-start;
        
        p {
          line-height: 1.8em;
        }
      }
    }

    .attacks,
    .attunedItems,
    .statblock {
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      padding: 0.5em 2%;
      margin: 0;

      p.heading {
        padding: 0;
        line-height: 1.8em;
      }      
    }

    .attacks {
      .name {
        margin-right: 1em;

        &:after {
          content: ":"
        }
      }

      .stats {
        color: $moodGreen;
      }
    }

    .attunedItems,
    .statblock {
      border-bottom: 1px solid $blueLight;
    }

    p.heading {
      font-family: $headingText;
      width: 100%;
      font-weight: 700;
      font-size: 1.15em;
      letter-spacing: 0.1em;
      line-height: 2.5em;
      padding-left: 0.5em;
      margin: 0;
    }

    .statblock {

      .block {
        width: 50%;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        line-height: 1.5em;
        // justify-content: space-evenly;

        span.stat,
        span.num {
          display: inline-block;
          margin: 0.2em 0 0 0;
          // font-size: 0.95rem;
          font-family: $monoSpace;
        }

        small.stat,
        span.stat  {
          line-height: 1.5em;
          width: 50%;
          padding-left: 10%;
          letter-spacing: 0.1em;
          text-align: right;
        }

        small.stat {
          font-size: 0.7rem;
        }

        span.num {
          width: 33%;
          padding-right: 5%;
          text-align: right;
          color: $moodGreen;
        }
      }

      &.skills,
      &.saves {
        span.num {
          &:before {
            content: "+ ";
          }
        }
      }

      &.attacks,
      &.skills {
        span.stat {
          font-size: 0.95em;
          padding-left: 5%;
          word-wrap: break-word;
        }
      }
    }

    .attunedItems {
      list-style-type: none;

      li.item {
        width: 100%;
        padding-left: 1em;
        line-height: 1.8em;
      }
    }
  }

  div.mainContent {
    font-size: 0.85em;
    width: auto;
    word-break: break-word;

    p, i.quote {
      display: block;
      line-height: 1.8em;
      margin: 0 0 1em;
      padding: 0;
    }

    i.quote {
      font-family: $handwriting;
      color: $charcoal;
      padding-left: 2vw;
      line-height: 1.6em;
      font-size: 1.05em;
      letter-spacing: 0.066em;
      margin-bottom: 2.5em;
    }
  }

  div.clear {
    clear:both; 
    margin: 0; 
    padding: 0;
  }
}

// MOBILE
@media all and (max-width: $breakpoint-mobile) {
  article.person {
    width: 96%;
    margin: 0 2% 2em;

    div.mainContent {
      i.quote {
        padding: 0;
      }
    }

    h4.nickname {
      // display: none;
    }

    aside.infoBox {
      width: 100%;
      max-width: 100%;
      display: block;
      margin: 0 auto 3em;
      float: none;

      img.portrait {
        border-top: 0;
      }
    }
  }

  ul#people {

    li.person {
      // width: 48%;

      img.portrait {
        height: 10em;
      }

      p.name {

      }
    }
  }
}

// DESKTOP
@media all and (min-width: $breakpoint-mobile) {

}
