@import "./mixins";

form#search {
  display: inline-block;

  input#searchBox {
    height: auto;
    padding: 1em 3em 0.6em 0.6em;
    margin: 0.5em 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    transition: width .5s;
    font-size: 0.8em;
  }

  #clearSearch {
    right: 1em;
    position: relative;
    background-color: white;
    cursor: pointer;
    z-index: 10;
  }
}


// MOBILE
@media all and (max-width: $breakpoint-mobile) {
  form#search {
    width: 100%;
    margin-bottom: 1em;
    
    input#searchBox {
      width: 80%;
    }
  }
}

// DESKTOP
@media all and (min-width: $breakpoint-mobile) {
  form#search {
    input#searchBox {
      width: 12em;
    }
  }
}
