@import "./mixins";

.subNav.spells {
  margin-top: 1em;

  label {
    margin-right: 1em;
  }

  button.sortButton {
    background-color: none;
    border: 0;
    font-size: 1em;
    margin: 0 0.5em;
    cursor: pointer;

    &.active {
      border-bottom: 1px dashed $dndGreen;
    }
  }
}

#categories.spells {

  li.entry {
    min-width: 0;
    max-width: none;
    width: 12.5%;
    line-height: 1.5em;
  }

  figure.imgBox {
    margin: 0;
    padding: 0;

    img.spellSchool {
      width: 3em;
      height: auto;
    }
  }
}

