@import "./mixins";

.sortButton {
  background-color: none;
  border: 0;
  font-size: 1em;
  margin: 0 0.5em;
  cursor: pointer;

  &.active {
    border-bottom: 1px dashed $dndGreen;
  }
}

.imgBox {
  margin: 0;
  padding: 0;

  .spellSchool {
    width: 3em;
    height: auto;
  }
}