@import "./mixins";

.imgBox {
  border-top: 1px solid $blueLight;
  border-bottom: 1px solid $blueLight;
  width: 100%;
  margin: 0;
}

.spellSchool {
  display: block;
  max-width: 75px;
  border: 0;
  margin: 1em auto;
}

.iconContainer {
  display: inline-block;
  margin-left: 0.5em;
  position: relative;
  top: -0.1em;

  span.spellIcon {
    font-size: 0.5em;
    border: 1px solid #fff;
    margin: 0.2em 0.33em 0.66em;
    padding: 0.33em 0.66em;
    line-height: 1.66em;
    display: inline-flex;
    border-style: inset;
  }
}