@import "../styles/mixins";

.globe {
  margin-top: 2em;
  height: 16em;
  overflow: hidden;
  margin: 0 auto;

  img {
    height: 200%;
  }
}

.central {
  text-align: center;
}

.name {
  font-size: 3.5em;
  margin: 0 0 0;
  font-family: $decorative;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 0.2em 0;
  border-top: 1px solid $charcoal;
  border-bottom: 1px solid $charcoal;
}

.year {
  font-family: $serifText;
  font-size: 1.25em;
  font-weight: 700;
  color: $blueDark;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin: 1em 0 2em;
}

.worldDescription {
  width: 75%;
  font-family: $serifText;
  font-weight: 700;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.8em;

  p {
    margin: 2em 0 !important;
    text-indent: 2em;
  }
}

@media all and (max-width: $breakpoint-mobile) {
  .homepage {
    width: 90vw;
    margin: 0 auto;
  }

  .globe {
    margin-top: 2em;
    height: 35vw;
  }

  .name {
    width: 85%;
    margin: 0 auto;
  }

  .worldDescription {
    width: 90%;
    text-align: justify;
  }
}