@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC|Libre+Baskerville|Raleway&display=swap');

$offWhite: #f4f4f4;
$lightText: #e9e9e9;
$charcoal: #0c0c13;

$blueLight: #d3edfd;
$blue: #234d6d;
$blueDark: #002d3d;

$tagLink: #ff5801;
$tagLinkHover: #dd01a8;

$breakpoint-mobile: 768px;


$styleText: "IM Fell Great Primer SC", serif;
$sansText: "Raleway", "Century Gothic", sans-serif;
$serifText: "Libre Baskerville", "Times New Roman", serif;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
