@import '../../mixins';

#navigationList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.1rem;
  color: #fff;
  padding: 1rem 0;
  background-color: #282c34;
  margin: 0;
  font-family: $sansText;

  .navigationListItem {
    padding-bottom: 0.25em;
    font-variant: small-caps;

    &.active {
      border-bottom: 1px solid tomato;
    }
  }

  a {
    color: $lightText;
    letter-spacing: 0.075em;
    text-decoration: none;

    &:hover {
      color: $tagLink;
    }
  }
}

@media all and (max-width: $breakpoint-mobile) {

  #navigationList {
    .navigationListItem {
      font-size: 0.9em;
    }
  }

}